.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input-wrapper input {
    width: 70%;
    padding: 12px 20px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px gray;
    border-radius: 10px;
    font-size: 18px;
}

.input-wrapper button {
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    outline: none;
    background-color: var(--purple-primary);
    border-radius: 5px;
    cursor: pointer;
}

.input-wrapper button:hover {
    box-shadow: 0px 0px 3px gray;
}

.input-wrapper button:active {
    opacity: .8;
}






